@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("backimage.jpeg") center center;
    background-size: cover;
    /* background: teal; */
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    /* background: #808080; */
    background: transparent;
    box-shadow: 0 0 30px #0e0101;
    /* border: 2px solid rgba(0, 0, 0); */
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

h2 {
    font-size: 2em;
    text-align: center;
    color: black;
}

.ipbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid black;
}

.ipbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.ipbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 35px 0 5px;
    color: black;
}

span {
    position: absolute;
    right: 15px;
    /* transform: translate(0, -50%); */
    top: 50%;
    cursor: pointer;
}

.fa-eye {
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: black;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: black;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;

}